.accent-paragraph {
  border: 1px solid #0098AE66;
  border-radius: 5px;
  padding: 22px 32px;
  color: #393A40 !important;
}

@media (max-width: 640px) {
  .accent-paragraph {
    text-align: left;
  }
}