.accent-paragraph-with-image {
    display: grid;
    border: 1px solid #0098AE66;
    border-radius: 5px;
    padding: 32px 40px 32px 15px;
    grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    background: #fff;
    max-width: 910px;
    margin: auto;
  }
  
  .accent-paragraph-with-image__image {
    grid-column: span 2;
    text-align: center;
  }
  
  .accent-paragraph-with-image__content {
    grid-column: span 10;
  
    & p:last-child {
      margin: 0 !important;
    }
  }

  @media (max-width: 640px) {
    .accent-paragraph-with-image {
        padding: 32px 25px;
    }

    .accent-paragraph-with-image__image {
      grid-column: span 12;
    }

    .accent-paragraph-with-image__content {
        grid-column: span 12;
        text-align: left;
      }
  }