.cms-content {
  overflow: hidden;

  h2, h3 {
    color: #404040;
    font-weight: 600;
    text-transform: none;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  ul, ol {
    li {
      margin: 20px 0;
    }
  }

  strong {
    color: #f97352;
  }

  img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;

    &.alignright {
      @media (max-width: 767px) {
        display: block !important;
        float: none !important;
        margin-left: 0 !important;
      }
    }
  }

  & > .wp-video {
    margin-bottom: 30px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid #0095b0;
      z-index: 10;
      pointer-events: none;
    }

    @media (min-width: 1024px) {
      float: right;
      width: 365px !important;
      margin-left: 30px;
      margin-bottom: 15px;
    }

    .mejs-video .mejs-controls {
      //opacity: 0;
    }

    .mejs-video .mejs-overlay-button {
      //visibility: hidden;
    }
  }
}
#video {
  .mejs-video .mejs-controls {
    opacity: 1;
  }

  .mejs-video .mejs-overlay-button {
    visibility: visible;
  }
}