.cms-content {
  overflow: hidden;

  h2, h3 {
    color: #404040;
    font-weight: 600;
    text-transform: none;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  ul, ol {
    li {
      margin: 20px 0;
    }
  }

  strong {
    color: #f97352;
  }

  img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;

    &.alignright {
      @media (max-width: 767px) {
        display: block !important;
        float: none !important;
        margin-left: 0 !important;
      }
    }
  }

  & > .wp-video {
    padding-bottom: 30px;

    @media (min-width: 1024px) {
      float: right;
      width: 365px !important;
      padding-left: 30px;
      padding-bottom: 15px;
    }
  }
}