.leadership {
  padding-top: 50px;
  padding-bottom: 25px;
}

.leadership-container {
  max-width: 930px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.leadership-title {
  font-size: 31px;
  color: #f7941f;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  padding-left: 15px;
  margin-bottom: 55px;
}

.leadership-body {

}