.procurement-process-stages__items {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(12, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.procurement-process-stages__item {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 28px 25px!important;
  background: #F2FAFB;

  &::before {
    display: none !important;
  }

  &:nth-child(-n+3) {
    grid-column: span 4;
  }

  &:nth-child(n+4) {
    grid-column: span 3;
  }
}

.procurement-process-stages__item-icon {
  & img {
    width: 48px;
  }
}

.procurement-process-stages__item-title {
  & h3 {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin: 0;
    padding-left: 15px;
  }
}

@media (max-width: 860px) {
  .procurement-process-stages__item {
    &:nth-child(-n+3) {
      grid-column: span 12;
    }

    &:nth-child(n+4) {
      grid-column: span 12;
    }
  }
}