.program-outline {
  margin-top: 35px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  &__item {

    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @media (min-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__header {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex: 0 0 auto;

    svg {
      display: block;
      height: 20px;
      fill: #ffffff;
    }
  }

  &__body {
    padding: 15px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: #AAB2BD;
    border-style: solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex: 1 1 0;
  }

  &__icon {

  }

  &__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
