.section {
  padding-top: 50px;
  padding-bottom: 50px;

  //bullshit
  &--content {
    padding-top: 25px;
    padding-bottom: 0px;

    @media (min-width: 768px) {
      padding-top: 50px;
      padding-bottom: 0px;
    }
  }

  &--experience {
    padding-top: 20px;
    padding-bottom: 25px;
    @media (min-width: 768px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &--program-outline {
    padding-top: 20px;

    @media (min-width: 768px) {
      padding-top: 60px;
    }
  }

  &--faq {
    padding-bottom: 20px;

    @media (min-width: 768px) {
      padding-bottom: 35px;
    }
  }
}

.section-container {
  max-width: 930px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  &--slightly-wider {
    max-width: 960px;
  }

  &--wider {
    max-width: 1000px;
  }
}

.section-title {
  font-size: 25px;
  color: #404040;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 14px;

  &--center {
    text-align: center;
  }
}

.section-h1 {
  font-size: 25px;
  color: #ef932f;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
}
.management-services {
  .section-h1 {
    color: #005E6B;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }

  .cms-content {
    h2 {
      span, strong {
        color: #393A40!important;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 108.333% */
      }
    }
    p, li {
      color: #393A40;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26.56px; /* 166% */
    }
  }
}