.page-template-procurement-transformation {
    .section--content {
        .cms-content {
            & h3 {
                color: #393A40;
                font-family: Poppins;
            }

            & p {
                color: #393A40;
                font-family: Poppins !important;
            }
        }
    }

    .explain-video-title {
        font-family: Poppins;
    }
}