.page-template-procurement-events {
    p, li {
        font-size: 18px;
    }

    strong {
        color: #f97352;
    }
}

.procurement-events__wrapper {
    flex-direction: column;

    @media (min-width: 640px) {
        flex-direction: row;
    }
}