.blog-blockquote {
    a {
        color: #0098AE !important;
        text-decoration: underline !important;
        text-decoration-style: dotted !important;
        text-underline-offset: 6px !important;
        text-decoration-color: #0098ae !important;
        border: none !important;

        &:hover {
            text-decoration-color: transparent !important;
        }
    }
}