.blog-hero {

    @media (max-width: 768px) {
        flex-wrap: wrap;
        padding: 0 15px;
    }
}

.blog-hero__content {
    @media (max-width: 768px) {
        width: 100%;
    }
}

.blog-hero__picture {
    @media (max-width: 768px) {
        width: 100%;
    }
}

.blog-hero__content--wrapper {
    @media (max-width: 768px) {
        max-width: 100%;
    }
}