.blog-blockquote {
    a {
        color: #0098AE !important;
        text-decoration: underline !important;
        text-decoration-style: dotted !important;
        text-underline-offset: 6px !important;
        border: none !important;

        &:hover {
            text-decoration: none !important;
        }
    }
}