.orange-btn {
  width: 195px;
  height: 50px;
  border: none;
  text-transform: uppercase;
  background-color: #f39200;
  letter-spacing: 0.03em;
  font-family: 'Poppins';
  line-height: 50px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 111px !important;
  display: block !important;

  .vc_btn3.vc_btn3-color-warning {
    background: transparent;
    border: none;
    text-align: center;
    font-size: 18px;

    &:hover,
    &:active,
    &:focus {
      background: transparent !important;
      border: none !important;
    }
  }

  &:hover {
    background-color: #fa8100;
  }
}

.myButton {
  transition: all 0.5s;
}
