.banner {
  padding-top: 40px;
  width: 100%;

  @media (min-width: 767.9px) {
    display: flex;
    justify-content: flex-start;
  }


  @media (min-width: 1023.9px) {
    padding-top: 80px;
  }

  &__caption {
    padding: 0 15px;
    margin-bottom: 25px;

    @media (min-width: 1023.9px) {
      min-width: 400px;
      max-width: 503px;
    }

    @media (min-width: 1199.9px) {

    }

    h2 {
      span {
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
        color: #0098ae;
      }
    }

    &-description {
      font-size: 22px;
      color: #404040;
      margin-top: 10px;
      line-height: 1.4;
    }
  }

  &__image {
    max-width: 656px;
  }

  &__btn {
    background-color: #0098ae;
    border: 1px solid #0098ae !important;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 1;
    margin-top: 20px;
    font-size: 14px;
    padding: 15px 36px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #fff;
      color: #0098ae;
    }
  }

  &-container {
    @media (min-width: 767.9px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: 991.9px) {
      margin-left: calc(50vw - 428.5px);
    }
  }
}

div, p, a, span, strong {
  font-family: Poppins, sans-serif;
}

.single-container {

  max-width: 830px;
  padding: 25px 15px 100px 15px;
  margin: 0 auto;

  @media (min-width: 767.9px) {
    padding-top: 30px;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

.title {
  font-size: 30px;
  text-align: left;
  color: #404040;
  font-weight: 600;
  text-transform: none;
  max-width: 96%;
  @media (min-width: 767.9px) {
    max-width: 90%;
  }

  @media (min-width: 1199.9px) {
    color: #404040;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 0;
  }
}

.post {
  @media (min-width: 767.9px) {
    display: flex;
  }


  h4 {
    color: #404040;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
  }

  p {
    color: #717171;
    font-family: Poppins, sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6875;
    margin-bottom: 24px;

    a {
      border-bottom: 1px dotted #717171;
      color: #717171;
      transition: all .2s linear;
    }
  }

  &_content {
    width: 100%;
    @media (min-width: 767.9px) {

      padding: 0;
    }

    .aligncenter {

      @media (min-width: 580.9px) {
        min-width: 100%;
        max-width: 100%;
        float: right;
      }
    }

    form {
      margin: 0 -15px;

      @media (min-width: 767.9px) {
        max-width: 256px;
        margin: 30px auto 0 auto;
      }
    }

    p {
      color: #777;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26.56px; /* 166% */
    }
  }

  &_img {
    padding: 0 15px;

    img {
      max-width: 100%;
      height: auto;
    }
  }


  .custom_btn {
    border: 2px solid rgb(87, 172, 133);
    color: rgb(87, 172, 133);
    background-color: transparent;
    padding: 13px 19px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.3s ease-in-out;
      border-color: transparent;
      color: rgb(87, 172, 133);
    }
  }


  ul {
    li {
      color: #717171;
      font-size: 16px;
      line-height: 1.66;
      list-style: none;
      margin: 0;
      position: relative;
      font-family: Poppins, sans-serif;

      &:before {
        background-color: #0098ae;
        left: -12px;
        top: 15px;
        border-radius: 50%;
        content: "";
        display: block;
        height: 4px;
        position: relative;
        width: 4px;
      }
    }
  }

  table td {
    text-align: left;
  }
}


.cta {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-top: -60px;

  &__title {
    color: #fff;
    font-weight: 600;
    line-height: 135%;
    margin: 0 auto 20px auto;
    text-transform: none;
    text-align: center;
    font-size: 22px;
    max-width: 85%;
    font-family: Poppins, sans-serif !important;
    @media (min-width: 767.9px) {
      font-size: 34px;
    }
  }

  &__description {
    color: #fff;
    font-size: 18px;
    line-height: 153%;
    margin: -12px auto 24px;
    max-width: 840px;
    padding: 0 15px;
    text-align: center;
  }

  &__btn {
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .03em;
    line-height: 1;
    padding: 17px 40px;
    text-transform: uppercase;
    border-color: rgb(0, 152, 174);
    color: rgb(0, 152, 174);
    transition: all 0.3s ease-in-out;

    font-family: Poppins, sans-serif !important;

    &:hover {
      color: #fff;
      background-color: #3ba17c;
    }
  }
}


.get_started {
  transition: opacity .5s ease;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: auto 100% !important;
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
  font-family: Poppins, sans-serif !important;
  @media (max-width: 991.9px) {

    background-image: none !important;
  }
  @media (min-width: 991.9px) {
    text-align: left;
    margin-top: 64px;
    padding: 87px 0 122px 0;
    background-position: right -300px center !important;
  }

  @media (min-width: 1199.9px) {

    background-position: 100% !important;
  }

  &__container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  h2 {
    font-family: Poppins, sans-serif !important;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 20px;
    text-transform: none;
    color: #393a40;
    text-align: center;
    @media (min-width: 991.9px) {
      text-align: left;
    }
  }

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #61636b;
    text-align: center;
    font-family: Poppins, sans-serif !important;

    @media (min-width: 767.9px) {
      max-width: 69%;
      margin: 0 auto 40px auto;
    }

    @media (min-width: 991.9px) {
      max-width: 43.25%;
      text-align: left;
      margin-left: 0;
    }

    @media (min-width: 1199.9px) {

      max-width: 40.25%;
    }

    a {
      color: #3ba17c;
      text-decoration: underline;
      text-decoration-color: #3ba17c;
      text-decoration-style: dotted;
      text-underline-offset: 4px;
      transition: all .15s linear;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .btn {
    div {
      background-image: url("http://procureability.com/wp-content/themes/jupiter-child/page-digital-services/button-bg.svg");
    }
  }
}

.master-holder {
  .custom-post {

    .custom-desc {
      border-left: 2px solid #4DA780;
      padding: 24px 32px;
      margin-top: -5px;

      &__title {
        color: #4DA780;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.6px;
        display: flex;
        text-transform: uppercase;
        gap: 4px;
        align-items: center;
        margin-bottom: 0;

        span {
          font-size: 32px;
          margin-right: 4px;
        }
      }

      p {
        margin-bottom: 0;
        color: #777;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }

    .steps-arrow {
      width: 100%;
      margin-bottom: 16px;
      margin-top: 16px;

      &__wrapper {
        display: flex;
      }

      &__step {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(59, 161, 124, 1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 31px 24px;
        @media (min-width: 767.9px) {
          height: 160px;
          position: relative;
        }

        &.steps-arrow__step--opacity {
          border-color: rgba(59, 161, 124, .4);
          @media (min-width: 767.9px) {
            border-right: none;
          }
        }

        &:first-child {
          z-index: 1;
          @media (min-width: 767.9px) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 38%;
            padding: 0 10px 0 32px;
            margin-right: 13px;
          }
        }

        &:last-child {
          background: rgba(77, 167, 128, 0.10);
          @media (min-width: 767.9px) {
            padding: 0 43px 0 95px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 62%;
            border-left: none;
            background: transparent;
          }

          .steps-arrow__text {
            color: #4DA780;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26.56px;
          }
        }

        .steps-arrow__text {
          color: #777;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26.56px; /* 166% */
          z-index: 1;

          &.steps-arrow__step--opacity {
            color: #777;
          }
        }

        .steps-arrow__arrow {
          display: inline-block;
          position: absolute;
          right: 0;

          &.steps-arrow__arrow--left {

            @media (min-width: 767.9px) {
              background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEiIGhlaWdodD0iMTYwIiB2aWV3Qm94PSIwIDAgNTEgMTYwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8ZyBpZD0iTGVmdCIgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzE0NV82NzApIj4KPGcgaWQ9IlJlY3RhbmdsZSAyNzk0Ij4KPHBhdGggZD0iTTUxLjAwMDkgODBMMS4wMDA4NSAwSDBWMTYwSDEuMDAwODVMNTEuMDAwOSA4MFoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0wLjUgMC41SDAuNzIzNzMxTDUwLjQxMTIgODBMMC43MjM3MzEgMTU5LjVIMC41VjAuNVoiIHN0cm9rZT0iIzREQTc4MCIgc3Ryb2tlLW9wYWNpdHk9IjAuNSIvPgo8L2c+CjxwYXRoIGlkPSJSZWN0YW5nbGUgMjc5NSIgZD0iTTAuMDAwODU0NDkyIDBMNTAuMDAwOSA4MEwwLjAwMDg1NDQ5MiAxNjBWMFoiIGZpbGw9IndoaXRlIi8+CjxyZWN0IGlkPSJSZWN0YW5nbGUgMjc5NiIgeT0iMTU5IiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjQTZEM0JGIi8+CjxyZWN0IGlkPSJSZWN0YW5nbGUgMjc5NyIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iI0E2RDNCRiIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzE0NV82NzAiPgo8cmVjdCB3aWR0aD0iNTEuMDAwOSIgaGVpZ2h0PSIxNjAiIGZpbGw9IndoaXRlIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==");
              height: 100%;
              width: 53px;
              right: -52px;
              background-size: contain;
              top: -1px;
              z-index: -4;
              min-height: 160px;
            }

          }

          &.steps-arrow__arrow--right {
            @media (min-width: 767.9px) {
              height: 158px;
              width: calc(100% - 1px);
              left: 0px;
              background-size: cover;
              top: 0;
              z-index: 1;
              background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTgwIiBoZWlnaHQ9IjE2MCIgdmlld0JveD0iMCAwIDU4MCAxNjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjc4MDMgMC41SDU3NUM1NzcuNDg1IDAuNSA1NzkuNSAyLjUxNDcyIDU3OS41IDVWMTU1QzU3OS41IDE1Ny40ODUgNTc3LjQ4NSAxNTkuNSA1NzUgMTU5LjVIMS43ODAzTDUxLjMwMjIgODAuMjY1TDUxLjQ2NzggODBMNTEuMzAyMiA3OS43MzVMMS43ODAzIDAuNVoiIGZpbGw9IiNFREY2RjIiIHN0cm9rZT0iIzREQTc4MCIvPgo8cGF0aCBkPSJNMS44NzgxNyAwTDU3NSAwQzU3Ny43NjEgMCA1ODAgMi4yMzg1OCA1ODAgNVYxNTVDNTgwIDE1Ny43NjEgNTc3Ljc2MSAxNjAgNTc1IDE2MEgxLjg3ODE3TDUxLjg3ODIgODBMMS44NzgxNyAwWiIgZmlsbD0iI0VERjZGMiIvPgo8L3N2Zz4K");
            }
          }
        }
      }

      @media (max-width: 991px) {
        .steps-arrow__text {
          font-size: 14px;
        }
      }

      .steps-arrow__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 767px) {
          flex-direction: initial;
          gap: 0;
        }
      }

      @media (max-width: 767px) {
        .steps-arrow__step:last-child {
          width: 100%;
        }
      }
    }


    .blue-box {
      display: flex;
      padding: 24px;
      justify-content: center;
      align-items: center;
      color: #0098AE;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26.56px; /* 147.556% */
      border-radius: 5px;
      border: 0.4px solid #0098AE;
      background: rgba(0, 152, 174, 0.03);
    }

    .custom-title {
      display: flex;
      gap: 16px;
      color: var(--Text-Heading, #393A40);
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      align-items: center;
      margin-top: 32px;
      margin-bottom: 24px;
    }

    .recommendations {
      text-align: center;

      h2 {
        color: #62646C;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20.6px; /* 114.444% */
        letter-spacing: 0.72px;
        text-transform: uppercase;
        margin-bottom: 24px;
      }

      img {
        margin-bottom: 16px;
        max-width: 104px;
      }

      h3 {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
        letter-spacing: 0.64px;
        text-transform: uppercase;
        margin: 0 auto 6px auto;
        max-width: 96%;
      }

      p {
        color: #777;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        max-width: 96%;
        margin: 0 auto 23px auto;
      }

      &.mobile {

        @media (min-width: 991.9px) {
          display: none;
        }
      }

      &.tablet {
        display: none;

        @media (min-width: 991.9px) {
          display: block;
          position: relative;
          background: #FCFCFC;
          padding: 37px 33px 60px 52px;
        }
      }

      &__circle {
        width: 276.084px;
        height: 275.082px;
        border-radius: 50%;
        border: 2px solid #D1D3D4;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          position: absolute;
        }

        .circle_1 {
          bottom: 0;
          right: 4px;
          transform: translate(10px, 10px);
        }

        .circle_2 {
          bottom: 0;
          left: -16px;
          transform: translate(10px, 10px);
        }

        .circle_3 {
          top: 10px;
          left: 50%;
          transform: translate(-50%, -50%);
        }


      }

      &__wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 50px;

        &_block {
          max-width: 261px;
          text-align: left;

          p {
            max-width: 100%;
            margin: 0;
          }
        }
      }
    }

    .author {
      display: flex;
      gap: 9px;
      align-items: center;

      h4 {
        color: rgba(57, 58, 64, 0.80);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21px */
        letter-spacing: -0.28px;
        text-decoration-line: underline;
        margin-bottom: 4px;
        display: inline-block;
        border-bottom: 1px dotted rgba(57, 58, 64, 0.80);

      }

      p {
        color: #777;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        letter-spacing: -0.28px;
        margin-bottom: 0;

      }
    }

    .contributors {
      color: #777;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26.56px;

      p {
        margin-bottom: 4px;
      }

      span {
        border-bottom: 1px dotted rgba(57, 58, 64, 0.80);
        font-weight: 500;
      }
    }

    .link {
      sup {
        color: #777;
        text-align: right;
        font-feature-settings: 'sups' on;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26.56px; /* 166% */
      }

      a {
        color: #0098AE;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26.56px; /* 166% */
        border-bottom: 1px dotted #0098AE;

        @media (min-width: 767.9px) {
          font-size: 16px;
        }
      }
    }
  }
}



