.pum-container {
    @media (max-width: 767px) {
        display: flex !important;
        flex-direction: column !important;
        margin: 0 !important;
        position: relative !important;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
    }
}

.pum-content {
    @media (max-width: 767px) {
        margin: auto !important;
    }
}