.pum {
    @media (max-width: 767px) {
        display: flex !important;
        flex-direction: column !important;
    }
}

.pum-container {
    @media (max-width: 767px) {
        margin: auto !important;
        position: relative !important;
        left: unset !important;
        right: unset !important;
        top: unset !important;
        bottom: unset !important;
    }
}