.pum-theme-event-page {

    &.pum-overlay {
        &.pum-active {
        //overflow: scroll !important;
        }
    }

    .pum-container {
        padding: 65px 16px !important;
        background-position: center center;
        background-size: cover;
        min-height: 410px !important;
        background-image: url('/wp-content/themes/jupiter-child/assets/img/bg_popup_2x.png');
    }

    .pum-title {
        font-family: Poppins, sans-serif !important;
        margin-bottom: 30px !important;
    }

    .pum-content {
        & + .pum-close {
            width: 28px !important;
            height: 28px !important;
            top: 8px !important;
            right: 8px !important;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADYSURBVHgBrZPBDcIwDEXtIu6M0BG6QkfoBkGIS5kHLgiRDRihK3QERui9UoMd2ggSJ0GiPjSq8993basAfwbyY384dXSUpjCNvl76FKBUW+EGWd/fb+e6mPMVG+CEnTq21Q/wDgyUnLMGVLmmY+CLmIkHD2YyjWvBCghi2ArIjE2XdgS41vp9h19VBBMYSRSBAwPJZE6LsGggmEAMdkMMYvTeucxWVIYG/sAgs50iBfNn51aMKXjpObVizMGuQMTEtkDwIwVzsNhv53MGzxQcmBjS088Ea8QL2rq4CWQeVxwAAAAASUVORK5CYII=') !important;
            background-position: center center;
            background-color: transparent !important;
            background-repeat: no-repeat;
            font-size: 0px !important;
            box-shadow: none !important;
            opacity: 1 !important;
            transition: opacity .75s;

            &:hover {
                opacity: 0.7 !important;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
}

@media (max-width: 767px) {
    html.pum-open.pum-open-overlay.pum-open-scrollable body > [aria-hidden] {
        padding-right: 0px !important;
    }
}

