@import "managed-services/index.pcss";
@import "procurement-events/index.pcss";
@import "solutions/index.pcss";
@import "talent/index.pcss";
@import "diversity-page/index.pcss";
@import "procurement-transformation/index.pcss";