.fancybox-close-small {
  background-color: rgba(30, 30, 30, .6) !important;
  color: #fff !important;
  opacity: .8 !important;

  &:hover {
    background: #000 !important;
    color: #fff !important;
    opacity: 1 !important;
  }
}
