html {
    scroll-behavior: smooth !important;
}

.theme-styles-overwrite {
    font-family: Poppins, sans-serif !important;
}

.theme-styles-overwrite {
    p {
        color: #393A40 !important;

    }

    a, p {
        font-family: Poppins, sans-serif !important;
    }
}