.page-insights {
  .zoom {
    transition: all 0.5s;

    &:hover {
      transform:scale(1.05);
    }
  }

  .gradient_0 {background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0,152,174, 0.7) 100%)}
  .gradient_1 {background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(233,78,27, 0.7) 100%)}
  .gradient_2 {background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(59,161,124, 0.7) 100%)}
  .gradient_3 {background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(243,146,0, 0.7) 100%)}
  .gradient_4 {background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0,152,174, 0.7) 100%)}

  .color_0 {color: #0098AE}
  .color_0:hover {color: #00798a}
  .color_1 {color: #EF4F25}
  .color_1:hover {color: #d04622}
  .color_2 {color: #3BA17C}
  .color_2:hover {color: #328a6a}
  .color_3 {color: #F6881B}
  .color_3:hover {color: #d37517}
  .color_4 {color: #0098AE}
  .color_4:hover {color: #006879}

  .hero {
    &__text {
      p {
        font-size: 24px;
      }
    }

    &__bg2 {
      bottom: -100px;
    }
  }

  .cards {
    &__link2 {
      span {
        &:hover {
          border-color: #fff;
        }
      }
    }
  }
}


.insights-list-item {
  > .wpb_column {
    margin-bottom: 60px;
  }

  .wpb_wrapper {
    .wpb_content_element {
      margin-bottom: 0 !important;
    }

    .img-hover-wrap {
      width: auto;
      height: auto;

      .img-hover-img {

      }

      .img-hover-description {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .wpb_raw_html {
    .wpb_wrapper {

      .content_wrapper {
        text-align: left;
        padding-left: 20px;
      }

      .title {
        a {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 130%;
          color: #393A40;
          text-decoration: underline rgba(255, 255, 255, 0);
          transition: text-decoration-color 300ms;

          &:hover {
            text-decoration-color: #393A40;
          }
        }
      }

      .description {
        margin-top: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #61636B;
      }

      .learn-more {
        margin-top: 32px;

        a {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 127.5%;
          color: #3BA17C;
          text-decoration: underline rgba(255, 255, 255, 0);
          transition: text-decoration-color 300ms;

          &:hover {
            text-decoration-color: #3BA17C;
          }
        }
      }
    }
  }

  .vc_separator {
    display: none;
  }
}

@media (min-width: 1400px) {
  .page-insights {
    .hero {
      &__bg2 {
        bottom: -150px;
      }
    }
  }
}

@media (max-width: 992px) {
  .insights-list-item {
    .wpb_raw_html {
      .wpb_wrapper {
        .content_wrapper {
          padding-left: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .page-insights {
    .hero {
      &__text {
        p {
          font-size: 14px;
        }
      }

      &__bg2 {
        background-image: url("/wp-content/themes/jupiter-child/dist/img/pages/insights/insights_bg_mob.jpeg") !important;
      }
    }
  }

  .insights-list-item {
    .wpb_raw_html {
      .wpb_wrapper {
        .title {
          margin-top: 20px;
        }

        .learn-more {
          margin-top: 20px;
        }
      }
    }
  }
}
