// General site problems. Fixes from 14.02.22
.home {
  .wpb_revslider_element.wpb_content_element {
    margin-bottom: 0 !important;
  }

  .wpb_row.vc_row.vc_row-fluid.jupiter-donut-.mk-fullwidth-true.attched-false.vc_custom_1620765207014.js-master-row.mk-full-content-true.mk-in-viewport {
    margin-top: 0;
  }

  .wpb_row.vc_row.equal-columns.js-master-row {
    .wpb_row .wpb_column {
      padding: 0 15px !important;
    }
  }

  .evo_lightboxes {
    display: none !important;
  }
}

.frm_style_formidable-style.with_frm_style .frm_submit button.frm_button_submit,
.frm_style_formidable-style.with_frm_style .frm_submit input[type=submit] {
  font-size: 16px !important;
  padding: 10px 40px !important;
  margin-top: 5px;
}

.frm_style_formidable-style.with_frm_style {
  .frm_submit button.frm_button_submit,
  .frm_submit input[type=submit] {
    font-size: 16px !important;
    padding: 10px 40px !important;
    margin-top: 5px;
    transition: all .2s ease-in-out;
  }

  .form-field.login-remember {
    margin-top: 5px;
    transition: all .2s ease-in-out;
  }
}

//.hbspt-form form.hs-form input.hs-button.primary.large {
//  transition: all .2s ease-in-out;
//  font-size: 16px !important;
//  padding: 10px 40px !important;
//  margin-top: 15px;
//}

.vc_btn3.vc_btn3-style-custom {
  &:hover {
    background: #f7a342 !important;
    border-color: #f7a342 !important;
  }
}

.vc_grid-container.equal-height {
  .vc_pageable-slide-wrapper {
    display: flex;
    height: auto !important;
  }

  .vc_grid-item {
    position: static !important;
    flex-shrink: 0;

    .vc_grid-item-mini {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .vc_gitem-zone,
    .vc_gitem-zone-mini,
    .vc_gitem_row,
    .vc_gitem-col {
      height: 100%;
    }

    .vc_gitem-zone.vc_gitem-zone-c {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .vc_gitem-col {
      display: flex;
      flex-direction: column;
    }

    .vc_btn3-container {
      margin-top: auto;
    }
  }
}

.hbspt-form form select {
  width: 100% !important;
  height: 32px;
  border-radius: 4px!important;
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
  border: 1px solid #e3e3e3 !important;
  font-family: "Roboto",sans-serif;
  padding: 1px 12px 1px 16px!important;
}

.ult_tabs {
  .ult_tabcontent {
    background-color: #fff;
    min-height: auto !important;
  }
}

.theme-page-wrapper:not(.full-width-layout) .mk-fullwidth-true.vc_row .vc_col-sm-12.with-padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mail-text a {
  &:hover {
    text-decoration: underline;
  }
}

.theme-content > .js-master-row.mk-full-content-true.mk-fullwidth-true:first-child {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.esg-content > a {
  max-height: 153px;
  overflow: hidden;
}

.leadership-template-default {
  .single-post-tags {
    display: none;
  }
}

.single.single-post {
  .vc_row.mk-grid {
    width: auto;
  }
}

#mk-footer {
  border-top: 3px solid #f7941f !important;
}

.master-holder {
  .custom-post {
    * {
      font-family: 'Poppins', sans-serif;
    }

    h3, h4 {
      text-transform: none;
    }

    h1 {
      font-weight: 600;
      font-size: 32px;
      line-height: 125%;
      color: #404040;
      margin-bottom: 0;
      text-transform: none !important;
    }

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 8px;

      span {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        display: block;
      }
    }

    p {
      color: #717171;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6875;
      font-family: 'Poppins', sans-serif !important;
      margin-bottom: 24px;

      strong {
        font-weight: 600;
        color: #717171;
      }

      a {
        color: #717171;
        border-bottom: 1px dotted #717171;
        transition: .2s all linear;

        &:hover {
          border-bottom-color: transparent;
        }
      }

      + ul {
        margin-top: -16px;
      }
    }

    sup {
      font-size: 10px;
      top: 0;
      left: 1px;
      margin-right: 1px;
    }

    div.with-sup{
      font-size: 14px;
      line-height: 1.85;
      color: #999;

      sup {
        font-size: 10px;
        top: 0;
        left: 1px;
        width: 11px;
        display: inline-block;
      }
    }

    h4 {
      line-height: 1.3;
      font-weight: 600;
      font-size: 20px;
      color: #404040;
      text-transform: none;
      margin: 48px 0 8px;

      &:first-child {
        margin-top: 0;
      }
    }

    .absolute-text {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #E6F5F7;
      padding: 16px 24px;
      border-bottom: 2px solid #0098AE;

      p {
        margin: 0;
        font-size: 14px;
        line-height: 160%;
        color: #777;
      }
    }

    &__col-image {
      .wpb_single_image {
        margin-bottom: 76px;
      }
    }

    ul {
      list-style: none;
      margin: 0 0 24px;

      li {
        list-style: none;
        position: relative;
        padding-left: 24px;
        font-size: 16px;
        line-height: 1.66;
        color: #717171;
        margin: 0;

        &::before {
          content: '';
          display: block;
          width: 4px;
          height: 4px;
          position: relative;
          top: 16px;
          left: -14px;
          background-color: #717171;
          border-radius: 50%;
        }

        strong {
          color: #717171;
        }
      }

      &.type-2 {
        li {
          padding-left: 14px;

          &::before {
            background-color: #0098AE;
          }
        }
      }
    }

    table:not(.custom-styles) {
      background-color: #FBFBFB;
      text-align: left;
      box-shadow: 0 4px 14px rgba(0, 0, 0, .11);

      thead {
        background-color: #0098AE;

        td {
          padding: 10px 24px;
          color: #fff;
          font-weight: 600;
          font-size: 18px;
          line-height: 1.44;
          height: auto !important;
        }
      }

      td {
        text-align: left;
        padding: 27px 2px 27px 0;
        width: 33.333% !important;

        &:first-child {
          padding-left: 35px;
        }

        &:last-child {
          padding-right: 35px;
        }

        ul {
          margin: 0;

          li {
            line-height: 1.875;

            &::before {
              background-color: #F6881B;
            }

            a {
              color: #717171;
              border-bottom: 1px dotted #717171;
              transition: .2s all linear;

              &:hover {
                border-bottom-color: transparent;
              }
            }
          }
        }
      }

      &.table-with-text {
        thead {
          td {
            height: auto !important;

            &:first-child {
              padding: 11px 24px;
            }

            &:last-child {
              padding: 11px 24px;
            }
          }
        }

        tr {
          &:nth-child(2n) {
            background-color: #F7F7F7;
          }
        }

        td {
          height: 70px !important;
          vertical-align: middle;
          font-size: 16px;

          &:first-child {
            width: 23.5% !important;
            border-right: 1px solid #CDCDCD;
            font-weight: 600;
            padding: 0 20px 0 24px;
          }

          &:last-child {
            width: 76.5% !important;
            padding: 0 24px;
          }
        }

        &.type-2 {
          background-color: #fff;
          margin-bottom: 8px;

          td {
            height: auto !important;
            padding-top: 24px;
            padding-bottom: 24px;
            vertical-align: top;

            &:first-child {
              width: 33% !important;
              font-weight: 400;
            }

            a {
              color: #0098AE;
              transition: .2s all linear;
              text-decoration: underline;
              text-decoration-color: #0098AE;
              text-decoration-style: dotted;
              text-underline-offset: 4px;
              text-decoration-thickness: 1px;

              &:hover {
                text-decoration-color: transparent;
              }
            }
          }

          thead {
            td {
              &:first-child {
                font-weight: 600;
              }
            }
          }
        }

        &.type-3 {
          background-color: #fff;

          td {
            height: auto !important;
            padding-top: 26px;
            padding-bottom: 26px;

            &:first-child {
              width: 12% !important;
              text-align: center;
              font-size: 36px;
              color: #0098AE;
            }

            &:last-child {
              width: 88%;
              font-size: 18px;
              line-height: 148%;
            }
          }
        }
      }
    }

    &_image {
      > .vc_col-sm-6, .vc_col-sm-7 {
        &:first-child {
          padding-left: 0 !important;

          > div, > h2 {
            margin-left: calc((100vw - 960px - 17px) / 2) !important;
          }

          p {
            margin-bottom: 0;
          }
        }
      }

      .btn {
        background-color: #0098AE;
        border-radius: 3px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1;
        letter-spacing: .03em;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        border: 1px solid #0098AE !important;
        text-decoration: none;
        padding: 15px 36px;
        margin-top: 20px;

        &:hover {
          color: #0098AE;
          background-color: #fff;
        }

        &_2 {
          text-transform: none;
          font-weight: 600;
          padding: 15px 20px;
        }
      }
    }

    &_text {
      max-width: 940px;
      margin: 48px auto 0;

      .wpb_column {
        padding: 0;
      }

      blockquote {
        padding: 22px 32px;
        margin-bottom: 24px;
        background-color: #fff;

        &::before {
          display: none;
        }

        p {
          margin: 0;
          color: #777777;
        }
      }

      .vc_btn3-container {
        margin: 0;

        a {
          &.vc_btn3.vc_btn3-size-md.vc_btn3-style-outline-custom {
            border-width: 1px;
            padding: 10px 18px;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
    }

    &.custom-post_image {
      display: flex;
      align-items: center;

      > .vc_col-sm-6, .vc_col-sm-7 {
        &:first-child {
          > div {
            margin-left: calc((100vw - 940px - 17px) / 2) !important;
          }
        }
      }
    }

    .purespend-block {
      display: flex;
      align-items: center;
      padding: 40px 50px;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.11);
      margin: 16px 0 32px;

      .wpb_column.vc_column_container {
        &:first-child {
          width: 149px;
          flex-shrink: 0;
          margin-right: 30px;
        }

        &:last-child {
          flex-grow: 1;
        }
      }

      .vc_column-inner {
        padding: 0;
      }

      .wpb_content_element {
        margin-bottom: 0;
      }

      .mk-text-block {
        p {
          margin-bottom: 0;
        }
      }
    }

    .esg-block {
      padding: 36px 37px 43px;
      background: #FBFBFB;
      display: flex;
      flex-wrap: wrap;
      margin: 8px 0 32px;

      .vc_column_container:first-child {
        .vc_column-inner {
          padding: 0 10px;
        }

        .mk-text-block {
          position: relative;
          text-align: center !important;

          &::before {
            content: '';
            display: block;
            width: calc(66% + 20px);
            height: 200px;
            position: absolute;
            top: 15px;
            left: calc(17% - 10px);
            border: 2px dotted #B3B3B3;
            border-radius: 6px;
            border-bottom: 0;
          }

          &::after {
            content: '';
            display: block;
            width: 1px;
            height: 200px;
            position: absolute;
            top: 15px;
            left: 50%;
            border-left: 2px dotted #B3B3B3;
          }
        }

        h2 {
          font-size: 36px;
          line-height: 1;
          letter-spacing: .18em;
          color: #393A40;
          display: inline-block;
          padding: 0 27px 17px;
          margin-bottom: 33px;
          background: #FBFBFB;
          position: relative;
          z-index: 1;
        }
      }

      .vc_column_container:not(:first-child) {
        .vc_column-inner {
          padding: 0 10px;
          height: 100%;
          flex-shrink: 0;

          > .wpb_wrapper {
            height: 100%;
            background: #fff;
            box-shadow: 0 4.06658px 14.233px rgba(0, 0, 0, 0.11);
            border-radius: 5px;
            padding: 29px 20px 29px 27px;
            position: relative;
          }

          .wpb_single_image {
            position: absolute;
            margin: 0;
            right: 0;
            top: 20px;

            img {
              display: block;
            }
          }
        }
      }

      ul {
        margin-bottom: 0;
        margin-top: -3px;

        li {
          font-size: 14px;
          line-height: 140%;
          padding-left: 14px;

          &::before {
            top: 14px;
            background-color: #ddd;
            left: -12px;
          }
        }
      }
    }

    ol {
      &.custom-ol {
        list-style: none;
        counter-reset: item;
        padding: 0;
        margin: 19px 0 0;

        li {
          counter-increment: item;
          padding-left: 46px;
          position: relative;
          margin-bottom: 19px;
          font-size: 16px;

          &::before {
            content: counter(item);
            position: absolute;
            left: 0;
            top: -4px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1;
            color: #0098AE;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(#0098AE, .09);
          }

          &:last-child {
            margin-bottom: 0;
          }

          span {
            font-weight: 500;

            strong {
              color: inherit;
            }
          }
        }
      }
    }
  }

  .contact-block {
    padding: 70px 0;
    margin-top: 64px;
    margin-bottom: -111px;

    * {
      font-family: 'Poppins', sans-serif !important;
      box-sizing: border-box;
    }

    h3 {
      font-weight: 600;
      font-size: 34px;
      line-height: 135%;
      color: #fff;
      margin: 0 0 20px;
      text-transform: none;
    }

    p {
      padding: 0 15px;
      max-width: 840px;
      margin: -12px auto 24px;
      font-size: 18px;
      line-height: 153%;
      text-align: center;
      color: #fff;
    }

    .vc_btn3-container {
      margin-bottom: 0;

      .vc_btn3.vc_btn3-size-md {
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        letter-spacing: .03em;
        text-transform: uppercase;
        color: #3BA17C;
        padding: 17px 40px;
        border: 0;
        border-radius: 3px;
        background-color: #fff !important;

        &:hover {
          background-color: #3BA17C !important;
        }
      }

      &.type-2 {
        .vc_btn3.vc_btn3-size-md {
          &:hover {
            background-color: #0098AE !important;
          }
        }
      }
    }
  }
}

#mk-footer {
  .fa {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;

    &.fa-linkedin {
      &::before {
        content: '\f0e1';
      }
    }

    &.fa-youtube-play {
      &::before {
        content: '\f167';
      }
    }

    &.fa-envelope {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;

      &::before {
        content: '\f0e0';
      }
    }

    &.fa-commenting {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;

      &::before {
        content: '\f4ad';
      }
    }
  }
}

@media (max-width: 992px) {
  .master-holder {
    .custom-post {
      h1 {
        font-size: 30px;
      }

      &_image {
        > .vc_col-sm-6, .vc_col-sm-7 {
          &:first-child {
            > div, > h2 {
              margin-left: 15px !important;
            }
          }
        }
      }

      &.custom-post_image {
        display: flex;
        align-items: center;

        > .vc_col-sm-6, .vc_col-sm-7 {
          &:first-child {
            > div {
              margin-left: 15px !important;
              margin-right: 15px !important;
            }
          }
        }
      }

      .esg-block {
        padding: 36px 5px 43px;

        .vc_column_container:not(:first-child) {
          .vc_column-inner {
            > .wpb_wrapper {
              padding: 20px 10px 20px 15px;
            }
          }
        }
      }
    }

    //.contact-block {
    //  margin-bottom: -86px;
    //}
  }
}

@media (max-width: 767px) {
  .master-holder {
    .custom-post {
      h2 {
        span {
          font-size: 20px;
        }
      }

      &_image {
        flex-direction: column;
        align-items: flex-start;

        > .vc_col-sm-6, .vc_col-sm-7 {
          &:first-child {
            > div {
              margin-bottom: 25px !important;
            }
          }
        }

        .btn {
          font-size: 14px;
        }
      }

      &_text {
        margin-top: 30px;

        blockquote {
          margin-top: 30px;
        }

        .vc_btn3-container a.vc_btn3.vc_btn3-size-md.vc_btn3-style-outline-custom {
          font-size: 14px;
        }
      }

      .table-wrapper {
        overflow-x: auto;
        margin-bottom: -30px;

        table {
          width: 100%;
          min-width: 600px;

          &.type-2 {
            margin-bottom: 0;
          }

          &.type-3 {
            margin-bottom: 20px;
          }
        }
      }

      .purespend-block {
        padding: 30px 20px;
        flex-direction: column;

        .wpb_column.vc_column_container {
          &:first-child {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }

        .mk-text-block {
          p {
            text-align: center;
          }
        }
      }

      .esg-block {
        h2 {
          padding-bottom: 0;
        }

        .vc_column_container:first-child {
          .mk-text-block {
            &::before ,
            &::after {
              display: none;
            }
          }
        }

        .vc_column_container:not(:first-child) {
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }

          .vc_column-inner {
            .wpb_single_image {
              transform: scale(1.5);
              transform-origin: 100% 0;
            }
          }
        }
      }
    }

    .contact-block {
      padding: 40px 0 45px;
      margin-top: 20px;

      h3 {
        font-size: 22px;
      }

      p {
        font-size: 16px;
      }

      .vc_btn3-container {
        .vc_btn3.vc_btn3-size-md {
          font-size: 14px;
        }
      }
    }
  }

  .mobile-hidden {
    display: none;
  }

  .vc_grid-container.equal-height {
    .vc_pageable-slide-wrapper {
      flex-direction: column;
    }
  }

  .wpb_raw_code.wpb_content_element.wpb_raw_html {
    //margin-bottom: 5px;

    .wpb_wrapper{
      text-align: center;
    }
  }

  .ult_tabs {
    .ult_tabcontent {
      margin-left: -15px !important;
    }

    .ult_tabitemname {
      padding: 0 15px 0 10px;
      left: -10px !important;
      position: static !important;
    }
  }

  .wpb_row.vc_row .vc_empty_space {
    height: 20px !important;
  }

  .mk-blog-single {
    .single-social-section {
      margin-bottom: 0;
    }

    .wpb_row.vc_row .vc_col-sm-12 .vc_empty_space {
      height: 0 !important;
    }
  }
}

@media (max-width: 600px) {
  .with_frm_style .frm_hidden_container .frm_primary_label, .with_frm_style .frm_pos_hidden, .frm_hidden_container .frm_primary_label {
    visibility: visible !important;
  }
}
