.single-post {
  .mk-single-content {

    // Фикс - выставление кнопки по центру без лишних колонок
    .post-button-wrapper {
      margin-top: 20px;

      .vc_col-sm-4:nth-child(1), .vc_col-sm-4:nth-child(3) {
        display: none;
      }

      .vc_col-sm-4:nth-child(2) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
