.post-reducing-cost-with-innovative-sourcing {
  .theme-content {
    h4 {
      text-transform: uppercase;
    }

    .block-costs {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -20px 30px -20px;

      .costs__item {
        padding: 0 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .costs__image {
          flex-shrink: 0;
        }

        .costs__title {
          padding-left: 10px;
        }

        &:nth-child(2), &:nth-child(3) {
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: -5px;
            top: 5px;
            bottom: 5px;
            border-left: 1px solid #ccc;
          }
        }
      }
    }

    .block-review {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;

      .review__image {
        flex-shrink: 0;
      }

      .review__text {
        padding-left: 20px;
      }
    }

    .block-yoy {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border-radius: 5px;
      filter: drop-shadow(0px 2px 9px rgba(0, 0, 0, 0.12)) drop-shadow(13px 10px 24px rgba(0, 0, 0, 0.05));
      padding: 38px 86px;

      .yoy__percent {
        font-style: normal;
        font-weight: 400;
        font-size: 84px;
        color: #0098AE;
      }

      .yoy__text {
        padding-left: 20px;
        font-weight: 500;
        font-size: 18px;
        color: #565A63;
      }
    }

    .block-conclusion {
      background: #FFFFFF;
      filter: drop-shadow(0px 2px 9px rgba(0, 0, 0, 0.12)) drop-shadow(13px 10px 24px rgba(0, 0, 0, 0.05));
      border-radius: 5px;
      padding: 40px 54px;
      border-left: 3px;
      border-style: solid;
      border-image: linear-gradient(#EF4F25 0%, #F6881B 35.66%, #3BA17C 62.75%, #0098AE 99.24%) 1 100%;

      .conclusion__title {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 100%;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #3BA17C;
        margin-bottom: 16px;
      }

      .conclusion__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #777777;
      }
    }

    ul {
      //margin-bottom: 0;
      margin-top: -3px;

      li {
        padding-left: 14px;

        &::before {
          top: 15px;
          background-color: #0098AE;
          left: -12px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .post-reducing-cost-with-innovative-sourcing {
    .theme-content {
      .block-costs {
        flex-direction: column;

        .costs__item {
          margin-top: 10px;
          margin-bottom: 10px;

          .costs__title {
          }

          &:nth-child(2), &:nth-child(3) {
            margin-top: 30px;

            &:before {
              content: '';
              display: block;
              position: absolute;
              left: 35%;
              right: 35%;
              top: -20px;
              border-top: 1px solid #ccc;
              border-left: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .post-reducing-cost-with-innovative-sourcing {
    .theme-content {
      .block-costs {
        .costs__item {
          width: 100%;
          justify-content: flex-start;

          .costs__title {
          }

          &:nth-child(2), &:nth-child(3) {
            &:before {
              display: none;
            }
          }
        }
      }

      .block-yoy {
        padding: 25px;

        .yoy__percent {
          font-size: 30px;
        }

        .yoy__text {
          font-size: 16px;
        }
      }

      .block-conclusion {
        padding: 30px;
      }
    }
  }
}
