.single-post {
  &.post-strategic-sourcing-solutions-wildfire-mitigation {
    .master-holder {
      h1 {
        font-size: 36px !important;
      }

      h4 {
        font-size: 24px !important;
      }

      .plan-block {
        padding: 36px 37px 43px;
        background: #FBFBFB;
        display: flex;
        flex-wrap: wrap;
        margin: 8px 0 32px;

        .vc_column_container:first-child {
          .vc_column-inner {
            padding: 0 10px;
          }

          .mk-text-block {
            position: relative;
            text-align: center !important;

            &::before {
              content: '';
              display: block;
              width: calc(66% + 20px);
              height: 200px;
              position: absolute;
              top: 15px;
              left: calc(17% - 10px);
              border: 2px dotted #B3B3B3;
              border-radius: 6px;
              border-bottom: 0;
            }

            &::after {
              content: '';
              display: block;
              width: 1px;
              height: 200px;
              position: absolute;
              top: 15px;
              left: 50%;
              border-left: 2px dotted #B3B3B3;
            }
          }

          h2 {
            font-size: 36px;
            line-height: 1;
            letter-spacing: .18em;
            color: #393A40;
            display: inline-block;
            padding: 0 27px 17px;
            margin-bottom: 63px;
            background: #FBFBFB;
            position: relative;
            z-index: 1;
            text-transform: unset;
          }
        }

        .vc_column_container:nth-child(3) {
          .vc_column-inner {
            > .wpb_wrapper {
              border: 1px solid rgba(59, 161, 124, 0.2) !important;
            }
          }
        }

        .vc_column_container:nth-child(2), .vc_column_container:nth-child(3), .vc_column_container:nth-child(4) {
          .vc_column-inner {
            position: relative;
            padding: 0 10px;
            height: 100%;
            flex-shrink: 0;

            > .wpb_wrapper {
              height: 100%;
              background: #fff;
              //box-shadow: 0 4.06658px 14.233px rgba(0, 0, 0, 0.11);
              border-radius: 5px;
              padding: 50px 20px 15px 20px;
              position: relative;
              border: 1px solid rgba(239, 79, 37, 0.2);
            }

            .wpb_single_image {
              position: absolute;
              margin: 0;
              left: 50%;
              top: -36px;
              background: #FFFFFF;
              box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.11);
              transform: translateX(-36px);
              width: 72px;
              height: 72px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                display: block;
              }
            }

            .mk-text-block {
              text-align: center !important;

              p {
                font-size: 14px;
                margin: 0;
              }

              h4 {
                font-size: 27px;
                margin-bottom: 0;
              }
            }
          }
        }

        .vc_column_container:nth-child(5) {
          margin-top: 30px;

          .vc_column-inner {
            > .wpb_wrapper {
              border-top: 1px solid #D9D9D9;
            }
          }
        }

        .vc_column_container:nth-child(6) {
          .vc_column-inner {
            > .wpb_wrapper {
              p {
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                margin: 0;
              }
            }
          }
        }

        .vc_column_container:nth-child(7), .vc_column_container:nth-child(8) {
          .vc_column-inner {
            > .wpb_wrapper {
              p {
                position: relative;
                font-weight: 400;
                font-size: 16.7054px;
                line-height: 28px;
                margin: 0;

                &:after {
                  content: '';
                  background-image: url(/wp-content/themes/jupiter-child/dist/img/icon/check2.svg);
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 10px;
                  height: 10px;
                  position: absolute;
                  left: -20px;
                  top: 8px;
                }
              }
            }
          }
        }

        .vc_column_container:nth-child(7) {
          .vc_column-inner {
            margin-left: -15px;
          }
        }

        .vc_column_container:nth-child(8) {
          .vc_column-inner {
            position: relative;
            margin-left: 20px;

            &:before {
              content: '';
              display: block;
              border-left: 1px solid #ccc;
              position: absolute;
              left: -30px;
              top: 20px;
              height: 28px;
            }
          }
        }

        .vc_column_container:nth-child(6), .vc_column_container:nth-child(7), .vc_column_container:nth-child(8) {
          .vc_column-inner {
            > .wpb_wrapper {
              padding-top: 20px;
            }
          }
        }
      }

      //improve-block
      .vc_inner {
        &.vc_row {
          &.improve-block {
            display: flex;
            margin: 0 -10px 30px -10px !important;

            .wpb_column {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 10px;
              background: #FFFFFF;
              border: 1.07766px solid rgba(246, 136, 27, 0.41);
              box-shadow: 0px 4.31064px 23.7085px rgba(0, 0, 0, 0.1);
              border-radius: 7.25043px;

              &:last-child {
                border: 1.07766px solid rgba(59, 161, 124, 0.41);
              }

              .vc_column-inner {
                > .wpb_wrapper {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  .wpb_content_element {
                    margin-bottom: 0;
                  }

                  .wpb_single_image {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .vc_single_image-wrapper {
                      max-width: 150px;
                      padding: 35px 15px 35px 15px;
                    }
                  }

                  .mk-text-block {
                    padding: 30px 15px 30px 15px;
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 15.0872px;
                    line-height: 22px;
                    color: #717171;

                    p {
                      margin: 0 0 10px 0;
                    }
                  }

                  p {
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }

      ul {
        margin-bottom: 0;
        margin-top: -3px;

        li {
          padding-left: 14px;

          &::before {
            top: 15px;
            background-color: #0098AE;
            left: -12px;
          }
        }
      }
    }

    #mk-footer {
      border: none !important;
    }
  }
}

@media (max-width: 992px) {
  .single-post {
    &.post-strategic-sourcing-solutions-wildfire-mitigation {
      .master-holder {
        .plan-block {
          padding: 36px 5px 43px;

          .vc_column_container:not(:first-child) {
            .vc_column-inner {
              > .wpb_wrapper {
                //padding: 20px 10px 20px 15px;
              }
            }
          }

          .vc_column_container:nth-child(7) {
            .vc_column-inner {
              margin-left: 5px;
            }
          }

          .vc_column_container:nth-child(8) {
            .vc_column-inner {
              position: relative;
              //margin-left: 0;

              &:before {
                display: none;
              }
            }
          }
        }

        //improve-block
        .vc_inner {
          &.vc_row {
            &.improve-block {
              .wpb_column {
                .vc_column-inner {
                  > .wpb_wrapper {
                    .wpb_single_image {
                      flex-shrink: 1;
                    }

                    .mk-text-block {
                      br {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .single-post {
    &.post-strategic-sourcing-solutions-wildfire-mitigation {
      .master-holder {
        .plan-block {
          .vc_column_container:first-child {
            h2 {
              margin-bottom: 0;
            }

            .mk-text-block {
              &::before,
              &::after {
                display: none;
              }
            }
          }

          .vc_column_container:nth-child(2), .vc_column_container:nth-child(3), .vc_column_container:nth-child(4) {
            margin-top: 50px;
          }

          .vc_column_container:nth-child(6), .vc_column_container:nth-child(7), .vc_column_container:nth-child(8) {
            .vc_column-inner {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0;
              padding: 0;

              > .wpb_wrapper {
                min-width: 280px;
                padding: 20px 0px 0 25px;
              }
            }
          }
        }

        //improve-block
        .vc_inner {
          &.vc_row {
            &.improve-block {
              flex-wrap: wrap;

              .wpb_column {
                margin-top: 10px;
                margin-bottom: 10px;

                .vc_column-inner {
                  > .wpb_wrapper {
                    .wpb_single_image {
                      flex-shrink: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .single-post {
    &.post-strategic-sourcing-solutions-wildfire-mitigation {
    }
  }
}
